body {
    width: 100vw;
    height: 100vh;
    background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          rgba(59,173,227,1) 0%, 
          rgba(87,111,230,1) 25%, 
          rgba(152,68,183,1) 51%, 
          rgba(255,53,127,1) 100%
    );  
    animation: AnimateBG 20s ease infinite;
  }
  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
 
  #container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  /* CSS button source: https://getcssscan.com/css-buttons-examples */
.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }

  .title{
     box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
     background: #1abc9c;
    color: white;
    border-radius: 10px;
    padding: 0px 30px 0px;
  }
  header{
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  .navi{
    padding: 20px;
  background-color: lightgray;
  box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
  border-radius: 10px;
  }

  .counter-container{
    margin-top: 100px;
    padding: 20px;
    background-color: lightgray;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
    border-radius: 10px;
    text-align: center;
    display: none;
  }
  .quotes-container{
    margin-top: 100px;
    padding: 20px;
    background-color: lightgray;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
    border-radius: 10px;
    text-align: center;
    display: none;
  }

  .phf-container{
    margin-top: 100px;
    padding: 20px;
    background-color: lightgray;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
    border-radius: 10px;
    text-align: center;
    display: none;
  }

  .others-container{
    margin-top: 100px;
    padding: 20px;
    background-color: lightgray;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
    border-radius: 10px;
    text-align: center;
    display: none;
  }

  footer{
    margin-top: 100px;
    padding: 20px;
    background-color: lightgray;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
    border-radius: 10px;
    align-items: center;
  }


  /* CSS  button source https://getcssscan.com/css-buttons-examples*/
.button-21 {
    align-items: center;
    appearance: none;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
  
  .button-21:active,
  .button-21:focus {
    outline: none;
  }
  
  .button-21:hover {
    background-position: -20px -20px;
  }
  
  .button-21:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
  }

  .quoteView{
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .contact{
    list-style: none;
  }
  a:link, a:visited {
    background-color: green;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30%;
    align-items: center;
  }
  
  a:hover, a:active {
    background-color: blue;
  }